<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="theme-color" content="#fff6da">
  <title>Note Settimanali</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/edit.css">
  <style>
    textarea {
      width: 100%;
      box-sizing: border-box;
      min-height: 15em;
      font-size: 1em;
      padding: 0.5em;
      border: 1px solid #e6c85c;
      background-color: #fff6da;

      &:focus { outline: none; }
    }
  </style>
</head>
<body>
  <h1>Note settimanali</h1>

  <form method="post">
    <textarea name="notes">{{{notes}}}</textarea>
    <button id="saveButton" type="submit">Salva</button>
  </form>

  <button id="closeButton" onclick="window.location.href='/?editor=federica&weekNumber={{weekNumber}}'">Chiudi</button>
</body>
</html>
