<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/pure-min.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div id="header">
      <div id="prev-button"></div>
      <img width="140px" src="./img/logo.png" />
      <div id="next-button"></div>
    </div>
    <div id="time-table"></div>
    <script src="js/moment-with-locales.min.js"></script>
    <script type="module" src="js/index.js"></script>
  </body>
</html>
